




  body{
     background-color: #e2e6ea;
     font-size: 1rem;
 }
     .flex-container{
         display: flex;
         flex-direction: column;
     }

     #links{
         background-color: #f5c6cb;
     }

     #rechts {
         background-color: #005cbf;


     }

     body{
         background-color:dodgerblue;
         font-size:1.2rem;

     }

     .flex-container{
         display: flex;
         flex-direction: row;
         align-items:stretch;
     }

     #links{
         background-color: #4e555b;
         flex: 1 1 10%;
     }

     #oben{
         background-color: #4e555b;


     }

     #mitte{
         background-color: #005cbf;
         flex: 1 1 40%;
     }
     #rechts{
         background-color: #0489B1;
         flex: 1 1 20%;

     }

     #unten{
         background-color: #545b62;
         flex-shrink:1;
     }

     @media screen and (max-width: 720px){
         .flex-container{
             display:flex;
             flex-direction: column;

         }
     }











